@import
	url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap')
	;

:root {
	--primary-color: rgb(0, 124, 145);
	--secondary-color: rgb(236, 238, 248);
	--accent-color: rgb(76, 206, 238);
	--dark-color: rgb(51, 51, 51);
	--warning-color: rgb(255, 165, 82);
}

html, body {
	height: 100%;
	margin: 0;
	background-color: var(--secondary-color);
	font-family: 'Nunito Sans', sans-serif;
}

.logo {
	width: 10rem;
}

.nav-link-custom {
	font-size: 1.2rem;
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: none;
	transition: color 0.3s ease;
}


.nav-link-custom:hover {
	color: var(--warning-color);
}

.User-Icon {
	width: 4rem;
	transition: filter 0.3s ease;
}

.User-Icon:hover {
	filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(5)
		brightness(1.2);
}

.menu {
	gap: 3rem;
}

.logo {
	width: 10rem;
}

.logo:hover img {
	filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(5)
		brightness(1.2);
}
.image-container {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.portada-image {
	width: 100%;
	height: auto;
	border-end-start-radius: 2%;
	border-end-end-radius: 2%;
	padding-block-end: 2.5rem;
}

.logo-overlay {
	position: absolute;
	bottom: 40px;
	left: 0rem;
	width: 100%;
	height: 4rem;
	background-color: rgba(255, 166, 82, 0.822);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 3rem;
}

h2 {
	color: var(--primary-color);
	font-size: bold;
	padding-top: 1rem;
	padding-block-end: 3rem;
	height: 2rem;
}

.logoPortada {
	width: 150px;
	height: 150px;
}

.card {
	background-color: transparent;
	color: var(--dark-color);
	border-color: transparent;
}

.card-text {
	color: grey;
	background-color: transparent;
}

.container {
	max-width: 110rem;
	padding-block-end: 2rem;
}

.card-img-top {
	height: 25rem;
	border-radius: 2%;
}

.info-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 3rem;
}

.text {
	padding-block-end: 7rem;
}

.custom-button {
	max-width: 200px;
	border-radius: 0.5rem;
	font-weight: bold;
	font-style: italic;
	background-color: var(--warning-color);
}

.image-full {
	height: 100%;
	object-fit: cover;
	border-radius: 1.5rem;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
	background-color: var(--accent-color);
	color: var(--dark-color);
}

.btn:focus {
	background-color: var(--accent-color);
	color: var(--dark-color);
}

footer {
	margin-top: auto;
	padding: 2rem 0;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26rem;
}

footer img {
	margin: 0;
}

footer .logo {
	width: 5rem;
	height: auto;
}