@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap')
	;

:root {
	--primary-color: rgb(0, 124, 145);
	--secondary-color: rgb(236, 238, 248);
	--accent-color: rgb(76, 206, 238);
	--dark-color: rgb(51, 51, 51);
	--warning-color: rgb(255, 165, 82);
}

html, body {
	height: 100%;
	margin: 0;
	background-color: var(--secondary-color);
	font-family: 'Nunito Sans', sans-serif;
}

.logo {
	width: 10rem;
}

.nav-link-custom {
	font-size: 1.2rem;
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: none;
	transition: color 0.3s ease;
}


.nav-link-custom:hover {
	color: var(--warning-color);
}

.User-Icon {
	width: 4rem;
	transition: filter 0.3s ease;
}

.User-Icon:hover {
	filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(5)
		brightness(1.2);
}



footer {
	margin-top: auto;
	padding: 2rem 0;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26rem;
}

footer img {
	margin: 0;
}

footer .logo {
	width: 5rem;
	height: auto;
}
