@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap')
	;

:root {
	--primary-color: rgb(0, 124, 145);
	--secondary-color: rgb(236, 238, 248);
	--accent-color: rgb(76, 206, 238);
	--dark-color: rgb(51, 51, 51);
	--warning-color: rgb(255, 165, 82);
}

html, body {
	height: 100%;
	margin: 0;
	background-color: var(--secondary-color);
	font-family: 'Nunito Sans', sans-serif;
}

.logo {
	width: 10rem;
}

.nav-link-custom {
	font-size: 1.2rem;
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-link-custom:hover {
	color: var(--warning-color);
}

.User-Icon {
	width: 4rem;
	transition: filter 0.3s ease;
}

.User-Icon:hover {
	filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(5)
		brightness(1.2);
}

.menu {
	gap: 3rem;
}

.logo {
	width: 10rem;
}

.logo:hover img {
	filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(5)
		brightness(1.2);
}

main h1 {
	font-size: 86px;
	color: white;
}

main input {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: white;
	font-size: 16px;
	outline: none;
}

main .button_singup {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #ffa726;
	border: none;
	color: white;
	font-size: 18px;
	border-radius: 100px;
}

main .figura {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #007b8f;
	clip-path: polygon(0 0, 25% 0, 125% 100%, 0% 100%);
}

main {
	background-image: url('../img/fondo_Log_sing.png');
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;
}

main .singUp {
	height: 100%;
	padding-top: 5%;
	padding-left: 5%;
}

main form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 20px;
	color: white;
	width: 50%;
}

form p {
	display: flex;
	justify-content: center;
	text-align: center;
}

form a {
	color: #F5F3EF;
}

main .logoCorner_content {
	display: flex;
	position: absolute;
	justify-content: right;
	text-align: right;
	top: 55%;
	right: 5%;
	z-index: 10;
}

main .logo_corner {
	width: 577px;
	height: auto;
}

footer {
	margin-top: 0;
	padding: 2rem 0;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26rem;
}

footer img {
	margin: 0;
}

footer .logo {
	width: 5rem;
	height: auto;
}